@-webkit-keyframes round {
  0% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes round2 {
  0% {
    opacity: 1;
    -webkit-transform: rotate(360deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: rotate(0deg);
  }
}
@-webkit-keyframes swing {
  0% {
    opacity: 1;
    -webkit-transform: translateX(82px) scale(1.07) rotate(-4deg);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateX(82px) scale(1.07) rotate(2deg);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(82px) scale(1.07) rotate(-4deg);
  }
}
@-webkit-keyframes cloud {
  0% {
    -webkit-transform: translateX(-50px);
  }
  50% {
    -webkit-transform: translateX(50px);
  }
  100% {
    -webkit-transform: translateX(-50px);
  }
}
@-webkit-keyframes flash {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}
@-webkit-keyframes time_elapse {}
@-webkit-keyframes light {
  0% {
    -webkit-transform: translate(80px, -11px) rotate(-10deg);
  }
  50% {
    -webkit-transform: translate(80px, -11px) rotate(-35deg);
  }
  100% {
    -webkit-transform: translate(80px, -11px) rotate(-10deg);
  }
}
@-webkit-keyframes bg-flash {
  0% {
    background-position: center -3px;
  }
  50% {
    background-position: center 0px;
  }
  100% {
    background-position: center -3px;
  }
}
@-webkit-keyframes finger-repeat {
  0% {
    -webkit-transform: translate(0px, 0px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translate(30px, -40px);
    opacity: 1;
  }
  99% {
    -webkit-transform: translate(60px, -80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translate(0px, 0px);
    opacity: 0;
  }
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(-1px);
  }
  50% {
    -webkit-transform: translateX(1px);
  }
  100% {
    -webkit-transform: translateX(-1px);
  }
}
@-webkit-keyframes piao {
  0% {
    -webkit-transform: translate(0px, 0px);
  }
  14% {
    -webkit-transform: translate(-30px, -30px);
  }
  28% {
    -webkit-transform: translate(-80px, -20px);
  }
  40% {
    -webkit-transform: translate(-40px, 0px);
  }
  53% {
    -webkit-transform: translate(-140px, -30px);
  }
  66% {
    -webkit-transform: translate(-100px, -30px);
  }
  81% {
    -webkit-transform: translate(-55px, 0px);
  }
  100% {
    -webkit-transform: translate(0px, 0px);
  }
}
@-webkit-keyframes shake-once {
  0% {
    -webkit-transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
  }
  50% {
    -webkit-transform: scale(1);
  }
  75% {
    -webkit-transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-webkit-keyframes scale-y {
  0% {
    -webkit-transform: scale(1, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 0.1);
  }
  100% {
    -webkit-transform: scale(1, 1.1);
  }
}
@-webkit-keyframes scale-yyy {
  0% {
    -webkit-transform: scale(1, 1.1);
  }
  50% {
    -webkit-transform: scale(1, 0.5);
  }
  100% {
    -webkit-transform: scale(1, 1.1);
  }
}
@-webkit-keyframes scale-yy {
  0% {
    -webkit-transform: scale(0.3, 0.7);
  }
  50% {
    -webkit-transform: scale(0.7, 0.7);
  }
  100% {
    -webkit-transform: scale(0.3, 0.7);
  }
}
@-webkit-keyframes arrow-repeat {
  0% {
    -webkit-transform: translate(0px, 4px) scale(1);
    -webkit-opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px, 2px) scale(1);
    -webkit-opacity: 1;
  }
  50% {
    -webkit-transform: translate(0px, 0px) scale(1);
    -webkit-opacity: 1;
  }
  75% {
    -webkit-transform: translate(0px, -2px) scale(1);
    -webkit-opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, -4px) scale(1);
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes repeat-new {
  0% {
    -webkit-transform: translate(0px, -4px) scale(1);
    -webkit-opacity: 0;
  }
  25% {
    -webkit-transform: translate(0px, -2px) scale(1);
    -webkit-opacity: 1;
  }
  50% {
    -webkit-transform: translate(0px, 0px) scale(1);
    -webkit-opacity: 1;
  }
  75% {
    -webkit-transform: translate(0px, 2px) scale(1);
    -webkit-opacity: 1;
  }
  100% {
    -webkit-transform: translate(0px, 4px) scale(1);
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes repeat-x {
  0% {
    -webkit-transform: translate(-8px, 0px) scale(1);
    -webkit-opacity: 0;
  }
  25% {
    -webkit-transform: translate(-4px, 0px) scale(1);
    -webkit-opacity: 1;
  }
  50% {
    -webkit-transform: translate(0px, 0px) scale(1);
    -webkit-opacity: 1;
  }
  75% {
    -webkit-transform: translate(4px, 0px) scale(1);
    -webkit-opacity: 1;
  }
  100% {
    -webkit-transform: translate(8px, 0px) scale(1);
    -webkit-opacity: 0;
  }
}
@-webkit-keyframes repeat-y {
  0% {
    -webkit-transform: translate(0px, -4px);
  }
  25% {
    -webkit-transform: translate(0px, -2px);
  }
  50% {
    -webkit-transform: translate(0px, 0px);
  }
  75% {
    -webkit-transform: translate(0px, 2px);
  }
  100% {
    -webkit-transform: translate(0px, 4px);
  }
}
@-webkit-keyframes repeat-lb {
  0% {
    -webkit-transform: rotate(2deg);
  }
  50% {
    -webkit-transform: rotate(-5deg);
  }
  100% {
    -webkit-transform: rotate(2deg);
  }
}
@-webkit-keyframes repeat-rb {
  0% {
    -webkit-transform: rotate(-2deg);
  }
  50% {
    -webkit-transform: rotate(5deg);
  }
  100% {
    -webkit-transform: rotate(-2deg);
  }
}
@-webkit-keyframes repeat-tc {
  0% {
    -webkit-transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1, 0.2);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes repeat-cloud {
  0% {
    background-position: left top;
  }
  100% {
    background-position: right top;
  }
}
@-webkit-keyframes repeat-p1 {
  0% {
    -webkit-transform: translateX(-5px);
  }
  33% {
    -webkit-transform: translateX(5px);
  }
  66% {
    -webkit-transform: translateX(8px);
  }
  100% {
    -webkit-transform: translateX(-5px);
  }
}
@-webkit-keyframes repeat-p2 {
  0% {
    -webkit-transform: translateX(-5px);
  }
  33% {
    -webkit-transform: translateX(2px);
  }
  66% {
    -webkit-transform: translateX(5px);
  }
  100% {
    -webkit-transform: translateX(-5px);
  }
}
@-webkit-keyframes repeat-rotate {
  0% {
    -webkit-transform: translateX(-5px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateX(-5px) rotate(360deg);
  }
}
@-webkit-keyframes fly {
  0% {
    -webkit-transform: translateX(200px);
  }
  100% {
    -webkit-transform: translateX(-500px);
  }
}
@-webkit-keyframes repeat-move {
  0% {
    -webkit-transform: translateX(0px);
  }
  33% {
    -webkit-transform: translateX(-20px);
  }
  66% {
    -webkit-transform: translateX(20px);
  }
  100% {
    -webkit-transform: translateX(0px);
  }
}
@-webkit-keyframes key-repeat {
  0% {
    -webkit-transform: scaleX(1);
  }
  50% {
    -webkit-transform: scaleX(-1);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}
@-webkit-keyframes repeat-xxx {
  0% {
    -webkit-transform: translate(-10px, 10px);
  }
  50% {
    -webkit-transform: translate(10px, -10px);
  }
  100% {
    -webkit-transform: translate(-10px, 10px);
  }
}
@-webkit-keyframes round-move {
  0% {
    -webkit-transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(-5px, 5px);
  }
  50% {
    -webkit-transform: translate(5px, 5px);
  }
  75% {
    -webkit-transform: translate(5px, -5px);
  }
  100% {
    -webkit-transform: translate(-5px, -5px);
  }
}
@-webkit-keyframes round-move2 {
  0% {
    -webkit-transform: translate(-5px, -5px);
  }
  25% {
    -webkit-transform: translate(5px, -5px);
  }
  50% {
    -webkit-transform: translate(5px, 5px);
  }
  75% {
    -webkit-transform: translate(-5px, 5px);
  }
  100% {
    -webkit-transform: translate(-5px, -5px);
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  49% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes hand {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0.3;
    -moz-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}
@-webkit-keyframes hand {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}
@keyframes hand {
  0% {
    opacity: 1;
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0.3;
    -moz-transform: translateX(-80px);
    -ms-transform: translateX(-80px);
    -webkit-transform: translateX(-80px);
    transform: translateX(-80px);
  }
}
@-moz-keyframes blinkBuy {
  0% {
    background-image: url(../images/page_final_24.png);
  }
  49% {
    background-image: url(../images/page_final_24.png);
  }
  50% {
    background-image: url(../images/page_final_25.png);
  }
  99% {
    background-image: url(../images/page_final_25.png);
  }
  100% {
    background-image: url(../images/page_final_24.png);
  }
}
@-webkit-keyframes blinkBuy {
  0% {
    background-image: url(../images/page_final_24.png);
  }
  49% {
    background-image: url(../images/page_final_24.png);
  }
  50% {
    background-image: url(../images/page_final_25.png);
  }
  99% {
    background-image: url(../images/page_final_25.png);
  }
  100% {
    background-image: url(../images/page_final_24.png);
  }
}
@keyframes blinkBuy {
  0% {
    background-image: url(../images/page_final_24.png);
  }
  49% {
    background-image: url(../images/page_final_24.png);
  }
  50% {
    background-image: url(../images/page_final_25.png);
  }
  99% {
    background-image: url(../images/page_final_25.png);
  }
  100% {
    background-image: url(../images/page_final_24.png);
  }
}
@-moz-keyframes blinkShare {
  0% {
    background-image: url(../images/page_final_23.png);
  }
  49% {
    background-image: url(../images/page_final_23.png);
  }
  50% {
    background-image: url(../images/page_final_22.png);
  }
  99% {
    background-image: url(../images/page_final_22.png);
  }
  100% {
    background-image: url(../images/page_final_23.png);
  }
}
@-webkit-keyframes blinkShare {
  0% {
    background-image: url(../images/page_final_23.png);
  }
  49% {
    background-image: url(../images/page_final_23.png);
  }
  50% {
    background-image: url(../images/page_final_22.png);
  }
  99% {
    background-image: url(../images/page_final_22.png);
  }
  100% {
    background-image: url(../images/page_final_23.png);
  }
}
@keyframes blinkShare {
  0% {
    background-image: url(../images/page_final_23.png);
  }
  49% {
    background-image: url(../images/page_final_23.png);
  }
  50% {
    background-image: url(../images/page_final_22.png);
  }
  99% {
    background-image: url(../images/page_final_22.png);
  }
  100% {
    background-image: url(../images/page_final_23.png);
  }
}
@-moz-keyframes movingSun {
  0% {
    -moz-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
  50% {
    -moz-transform: translate(29px, -44px);
    transform: translate(29px, -44px);
  }
  100% {
    -moz-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
}
@-webkit-keyframes movingSun {
  0% {
    -webkit-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
  50% {
    -webkit-transform: translate(29px, -44px);
    transform: translate(29px, -44px);
  }
  100% {
    -webkit-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
}
@keyframes movingSun {
  0% {
    -moz-transform: translate(-50px, 77px);
    -ms-transform: translate(-50px, 77px);
    -webkit-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
  50% {
    -moz-transform: translate(29px, -44px);
    -ms-transform: translate(29px, -44px);
    -webkit-transform: translate(29px, -44px);
    transform: translate(29px, -44px);
  }
  100% {
    -moz-transform: translate(-50px, 77px);
    -ms-transform: translate(-50px, 77px);
    -webkit-transform: translate(-50px, 77px);
    transform: translate(-50px, 77px);
  }
}
@-moz-keyframes btnLight {
  0% {
    -moz-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -moz-transform: translateX(40px);
    transform: translateX(40px);
  }
}
@-webkit-keyframes btnLight {
  0% {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}
@keyframes btnLight {
  0% {
    -moz-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
  }
  100% {
    -moz-transform: translateX(40px);
    -ms-transform: translateX(40px);
    -webkit-transform: translateX(40px);
    transform: translateX(40px);
  }
}
